channels[daphne]
pydocs
docutils
Django
psycopg2-binary
Django-Verify-Email
Django-Verify-Email
gunicorn
djangorestframework
django-rest-auth
django-allauth
requests
pydocs
pyOpenSSL
Jinja2
cryptography
asgiref
