asgiref
attrs
autobahn
Automat
cffi
channels
constantly
cryptography
daphne
Django
Django-Verify-Email
docopt
docutils
hyperlink
idna
Jinja
MarkupSafe
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydocs
pyOpenSSL
service-identity
sqlparse
txaio
typing_extensions
zope.interface
gunicorn
djangorestframework
django-cors-headers
django-environ
django-extensions
django-filter
django-rest-auth
django-allauth
requests